<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <% include ./Layout/Header.ejs %>

        <form method="POST" action="/upload">
            <input type="text" name="NAME" id="">
            <input type="submit" value="Insert Product">
        </form>
</body>

</html>